<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Train Ticket Management System</display-name>
  <display-name>Train Ticket Management System</display-name>
  <servlet>
    <servlet-name>CancelTicketServlet</servlet-name>
    <servlet-class>com.servlets.CancelTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketServlet</servlet-name>
    <url-pattern>/CancelTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAnalysisServlet</servlet-name>
    <servlet-class>com.servlets.AdminAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAnalysisServlet</servlet-name>
    <url-pattern>/AdminAnalysisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.servlets.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTrainServlet</servlet-name>
    <servlet-class>com.servlets.SearchTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTrainServlet</servlet-name>
    <url-pattern>/SearchTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllTrainsServlet</servlet-name>
    <servlet-class>com.servlets.ViewAllTrainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllTrainsServlet</servlet-name>
    <url-pattern>/ViewAllTrainsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminViewAllTrainsServlet</servlet-name>
    <servlet-class>com.servlets.AdminViewAllTrainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewAllTrainsServlet</servlet-name>
    <url-pattern>/AdminViewAllTrainsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewTicketServlet</servlet-name>
    <servlet-class>com.servlets.ViewTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicketServlet</servlet-name>
    <url-pattern>/ViewTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>com.servlets.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/bookTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTrainServlet</servlet-name>
    <servlet-class>com.servlets.BookTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrainServlet</servlet-name>
    <url-pattern>/BookTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegServlet</servlet-name>
    <servlet-class>com.servlets.UserRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegServlet</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.servlets.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.servlets.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AdminSearchTrain</servlet-name>
    <servlet-class>com.servlets.AdminSearchTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchTrain</servlet-name>
    <url-pattern>/AdminSearchTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTrainFwd</servlet-name>
    <servlet-class>com.servlets.BookTrainFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrainFwd</servlet-name>
    <url-pattern>/booktrainfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTrains</servlet-name>
    <servlet-class>com.servlets.BookTrains</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrains</servlet-name>
    <url-pattern>/BookTrains</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTrainByRef</servlet-name>
    <servlet-class>com.servlets.BookTrainByRef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrainByRef</servlet-name>
    <url-pattern>/booktrainbyref</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserViewTrainFwd</servlet-name>
    <servlet-class>com.servlets.UserViewTrainFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewTrainFwd</servlet-name>
    <url-pattern>/userviewtrainfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserViewTicketFwd</servlet-name>
    <servlet-class>com.servlets.UserViewTicketFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewTicketFwd</servlet-name>
    <url-pattern>/userviewticketfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserViewLinkGet</servlet-name>
    <servlet-class>com.servlets.UserViewLinkGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewLinkGet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTrainFwd</servlet-name>
    <servlet-class>com.servlets.AddTrainFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrainFwd</servlet-name>
    <url-pattern>/addtrainfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminViewLinkFwd</servlet-name>
    <servlet-class>com.servlets.AdminViewLinkFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewLinkFwd</servlet-name>
    <url-pattern>/viewadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddTrain</servlet-name>
    <servlet-class>com.servlets.AdminAddTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTrain</servlet-name>
    <url-pattern>/AdminAddTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCancleTrain</servlet-name>
    <servlet-class>com.servlets.AdminCancleTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCancleTrain</servlet-name>
    <url-pattern>/AdminCancleTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTrainUpdateFwd</servlet-name>
    <servlet-class>com.servlets.AdminTrainUpdateFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTrainUpdateFwd</servlet-name>
    <url-pattern>/updatetrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTrainUpdate</servlet-name>
    <servlet-class>com.servlets.AdminTrainUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTrainUpdate</servlet-name>
    <url-pattern>/adminupdatetrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>com.servlets.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/userhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearchFwd</servlet-name>
    <servlet-class>com.servlets.UserSearchFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchFwd</servlet-name>
    <url-pattern>/usersearchtrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FareEnqFwd</servlet-name>
    <servlet-class>com.servlets.FareEnqFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FareEnqFwd</servlet-name>
    <url-pattern>/fareenqfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FareEnq</servlet-name>
    <servlet-class>com.servlets.FareEnq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FareEnq</servlet-name>
    <url-pattern>/fareenq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewUserProfile</servlet-name>
    <servlet-class>com.servlets.ViewUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserProfile</servlet-name>
    <url-pattern>/viewuserprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserProfile</servlet-name>
    <servlet-class>com.servlets.EditUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserProfile</servlet-name>
    <url-pattern>/edituserprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserPassword</servlet-name>
    <servlet-class>com.servlets.ChangeUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserPassword</servlet-name>
    <url-pattern>/changeuserpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserPwd</servlet-name>
    <servlet-class>com.servlets.ChangeUserPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserPwd</servlet-name>
    <url-pattern>/changeuserpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserProfile</servlet-name>
    <servlet-class>com.servlets.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfile</servlet-name>
    <url-pattern>/updateuserprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.servlets.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/userprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearchTrain</servlet-name>
    <servlet-class>com.servlets.UserSearchTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchTrain</servlet-name>
    <url-pattern>/searchtrainservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAvailFwd</servlet-name>
    <servlet-class>com.servlets.UserAvailFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAvailFwd</servlet-name>
    <url-pattern>/useravailfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrainBwStnFwd</servlet-name>
    <servlet-class>com.servlets.TrainBwStnFwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainBwStnFwd</servlet-name>
    <url-pattern>/trainbwstnfwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrainBwStn</servlet-name>
    <servlet-class>com.servlets.TrainBwStn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainBwStn</servlet-name>
    <url-pattern>/trainbwstn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAvailServlet</servlet-name>
    <servlet-class>com.servlets.UserAvailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAvailServlet</servlet-name>
    <url-pattern>/useravail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>UserLogin.jsp</welcome-file>
  </welcome-file-list>
</web-app>